:root {
  --content-width: 70%;
}

.custom-container.tip .custom-container-title {
  display: none;
}

.dropdown-wrapper:hover .nav-dropdown,
.dropdown-wrapper.open .nav-dropdown {
  left: 0;
  right: auto;
}
